html{
    padding: 0px;
    margin: 0px;
}
body{
     background-color: honeydew;
     margin: 0px;
      
}

span{
    color: crimson;
    font-size: 30px;

}
ul{
    list-style-type: none;
    text-align: center;
    float: right;
    margin-right: 25px;
    font-size: 13px;

}    
.header{
    height: 50px;
    padding: 0px 15px;
    background-color:rgba(0,0,0,0.8);
    color: azure;
    font-size: 40px;
    
}

.parent{
    margin-top: 10px;
    display: flex;
}
img{
    height: 400px;
    margin: 125px 50px 50px 300px;
    object-fit:none;
    border-radius: 50%;
    flex :1;
}

p{
    flex :1;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 145px 627px 100px 20px;
    padding: 12px;
    background-color: #d4b8c1;
    box-shadow: 10px 10px rgb(247, 99, 119);
    border-radius: 8px;
}
li{
    display:inline ;
}


a{
    color: rgb(255, 255, 255);
    padding:30px 10px 19px 10px;
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    font-weight: bold;
    
}
.fa-linkedin{
    size: 10px;
}
.fa-linkedin:hover{
color: dodgerblue;
}
.fa-github
{
    size:10px;
}
.fa-github:hover
{
    color:red;
}
.l:hover{
    color: dodgerblue; 
}
.g:hover{
    color:red;
}